
# Logs/descargas locales
Others/

# macOS
.DS_Store
*.bak.*
*.bak
*.bak
*.bak
!Files\ iOS/Others/
!Files\ iOS/Others/AppIcons/
!Files\ iOS/Others/AppIcons/playstore.png
!Files\ iOS/Others/AppIcons/appstore.png
