# macOS
.DS_Store

# Backups
*.bak
*.bak.*

# Ignorar todo "Files iOS/Others"...
Files iOS/Others/**

# ...pero permitir AppIcons completo (incluye android/ y png)
!Files iOS/Others/AppIcons/
!Files iOS/Others/AppIcons/**

# Logs/descargas locales (si existe esa carpeta)
Others/