# macOS
.DS_Store

# backups
*.bak.*
*.bak

# Ignorar Others, pero permitir AppIcons (y todo lo que cuelga de ahí)
Files iOS/Others/**
!Files iOS/Others/AppIcons/
!Files iOS/Others/AppIcons/**
# Logs/descargas locales
Others/

# macOS
.DS_Store
*.bak.*
*.bak
*.bak
*.bak
!Files\ iOS/Others/
!Files\ iOS/Others/AppIcons/
!Files\ iOS/Others/AppIcons/playstore.png
!Files\ iOS/Others/AppIcons/appstore.png
